<!-- src/app/components/student-list/student-list.component.html -->
<div class="container">
    <h2>Student List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Registration Number</th>
          <th>Branch</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.registrationNumber }}</td>
          <td>{{ student.branch }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  