<nav class="navbar">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/features">Features</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
  <div class="nav-buttons">
    <a (click)="redirectToLogin()" class="btn">Login</a>
  </div>
</nav>

<header class="header">
  Smart Campus Surveillance and Guidance System
</header>

<div class="banner">
  <h1>Welcome to Smart Campus Surveillance System</h1>
  <p>Your trusted guide for enhanced campus safety and efficiency.</p>
</div>

<div class="container">
  <section id="features">
    <h2>Key Features</h2>
    <div class="feature-card">
      <div class="feature1">
        <h3>Live Feed</h3>
        <div class="details">
        <p>Monitor the campus in real-time with integrated facial recognition technology.</p>
          <p>Real-time monitoring ensures safety and quick response across the campus.</p>
        </div>
      </div>

      <div class="feature2">
        <h3>Student Registration</h3>
        <div class="details">
        <p>Register students efficiently with advanced facial recognition.
          Quick and accurate registration process with facial recognition for efficiency.</p>
        </div>
      </div>

      <div class="feature3">
        <h3>Timetable Management</h3>
        <div class="details">
        <p>Provide guidance based on personalized timetables for students.</p>
          <p>Personalized timetables to keep students on track and improve productivity.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <h2>About the System</h2>
    <p>
      Our system employs cutting-edge AI to ensure campus security, guide students, and streamline
      administrative tasks. Experience seamless and effective campus management with our integrated
      technology.
    </p>
  </section>
</div>

<footer>
  &copy; 2024 Smart Campus Surveillance and Guidance System. All rights reserved.
</footer>
